{% extends 'base.html' %}
{% load spec %}
{% block title %}
{{ product.title }}
{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ product.title }}</h1><br>
    <img src="{{ product.image.url }}" height="300"><br>
    Цена: <b>{{ product.price }}</b> руб.<br>
    {{ product.description }}<br>
    {% if product.power %}
    Мощность:{{ product.power }} ватт<br>
    {% endif %}
    {% if product.accum %}
        Емкость встроенного аккумулятора: {{ product.accum_capacity }} mAh<br>
    {% endif %}
    {% if product.accum_type %}
        Тип аккумулятора: {{ product.accum_type }}<br>
    {% endif %}
    </div>

{{ product|product_spec }}
    <a href="{% url 'add_to_cart' ct_model=ct_model product_slug=product.slug  %}" class="btn btn-primary">Добавить в корзину</a>
{% endblock %}