{% extends 'base.html' %}
{% load spec %}
{% block title %}
{{ product.title }}
{% endblock %}

{% block content %}
        {{ product.title }}<br>
    <img src="{{ product.image.url }}" height="300"><br>
    Цена: {{ product.price }} руб.<br>
    {{ product.description }}<br>
    {% if product.power %}
    Мощность:{{ product.power }} ватт<br>
    {% endif %}
    {% if product.accum %}
        Емкость встроенного аккумулятора: {{ product.accum_capacity }} mAh<br>
    {% endif %}
    {% if product.accum_type %}
        Тип аккумулятора: {{ product.accum_type }}<br>
    {% endif %}

{#    ct_model#}

    <a href="{% url 'add_to_cart' ct_model=ct_model product_slug=product.slug  %}">Добавить в корзину</a>

{{ product|product_spec }}
{% endblock %}